* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

nav {
  background-color: #3b3b3b;
  height: 5vh;
  padding: 1rem;
  margin-bottom: 3rem;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #ddd;
  font-weight: 700;
  letter-spacing: 5px;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}

a:hover {
  transform: scale(1.05);
}

main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
