main {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p {
  margin-top: 2rem;
  color: #333;
  font-size: 1.2rem;
  font-weight: 700;
}

#ele1 {
  width: 60%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;
  border: 1px solid #c1c1c1;
  border-radius: 5px;
  gap: 1rem;
  text-align: center;
}

.animated {
  animation: tilting 1s infinite;
  animation-direction: alternate;
}

@keyframes tilting {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
